:root {
    --site--maxwidth: 80rem;
    --grid-col-gap: 1rem;
    --grid-row-gap: 3rem;
    --grid-columns-size: 1fr;

    @media screen and (min-width: 60rem) {
        --grid-columns-size: minmax(32%, 1fr);
        --grid-row-gap: 1rem;
    }
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
                 Roboto, Oxygen-Sans, Ubuntu, Cantarell,
                 "Helvetica Neue", sans-serif;
}

main {
    margin: 1rem auto;
    max-width: var(--site--maxwidth);
    padding-top: 3rem;
    width: 80%;
}

@import 'sections';