:root {
    --site--maxwidth: 80%;
    --grid-gap: 1rem;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
                 Roboto, Oxygen-Sans, Ubuntu, Cantarell,
                 "Helvetica Neue", sans-serif;
}

main {
    padding-top: 3rem;
}

h1 {
    max-width: var(--site--maxwidth);
    margin: 1rem auto;
}

@import 'sections';