.ll--slides {
    background-color: #000;
    display: flex;
    padding: 0;
}

.ll--slide {
    display: flex;
    flex: 1 0 100%;

    figure {
        display: block;
        margin: 0;
        max-width: 100%;

        img {
            max-width: 100vw;
            max-height: 100vh;
        }
    }
}